<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
<div>
    <h2>{{.AcaYear}}</h2>

    <h3>{{.Fall.Term}}</h3>
    <ul>
    {{range .Fall.Courses}}
        <li> {{.Number}} - {{.Name}} - {{.Units}}  </li>
    {{end}}
    </ul>

    <h3>{{.Spring.Term}}</h3>
    <ul>
    {{range .Spring.Courses}}
        <li> {{.Number}} - {{.Name}} - {{.Units}}  </li>
    {{end}}
    </ul>

</div>
{{end}}

</body>
</html>