<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>STOCK DATA TEMPLATE</h1>
<ul>
    {{ range . }}
    <li>{{ .Date }} - {{ .Low }} - {{.High}} </li>
    {{ end }}
</ul>

</body>
</html>